@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> Rol
@model ML.Dependiente
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Dependientes</h2>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Agregar", "Form", "Dependiente", null, new { @class = "btn btn-success" })
        </div>
    </div>
    <br />
    @if (Model.Dependientes != null)
    {

        if (Rol.IsSignedIn(User))
        {
            if (User.IsInRole("Administrador"))
            {
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td>Editar</td>
                                    <td>Numero del Empleado</td>
                                    <td>Nombre Dependiente</td>
                                    <td>Fecha de Nacimiento</td>
                                    <td>Estado Civil</td>
                                    <td>Genero</td>
                                    <td>Teléfono</td>
                                    <td>RFC</td>
                                    <td>Eliminar</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ML.Dependiente dependiente in Model.Dependientes)
                                {
                                    <tr>
                                        <th>@Html.ActionLink("Editar", "Form", "Dependiente", new { IdDependiente = dependiente.IdDependiente }, new { @class = "btn btn-warning" })</th>
                                        <th>@dependiente.Empleado.NumeroEmpleado</th>
                                        <th>@dependiente.Nombre @dependiente.ApellidoPaterno @dependiente.ApellidoMaterno</th>
                                        <th>@dependiente.FechaNacimiento</th>
                                        <th>@dependiente.EstadoCivil</th>
                                        <th>@dependiente.Genero</th>
                                        <th>@dependiente.Telefono</th>
                                        <th>@dependiente.RFC</th>
                                        <th>@Html.ActionLink("Eliminar", "Delete", "Dependiente", new { IdDependiete = dependiente.IdDependiente }, new { @class = "btn btn-danger" })</th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }else
            {
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td>Numero del Empleado</td>
                                    <td>Nombre Dependiente</td>
                                    <td>Fecha de Nacimiento</td>
                                    <td>Estado Civil</td>
                                    <td>Genero</td>
                                    <td>Teléfono</td>
                                    <td>RFC</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ML.Dependiente dependiente in Model.Dependientes)
                                {
                                    <tr>
                                        <th>@dependiente.Empleado.NumeroEmpleado</th>
                                        <th>@dependiente.Nombre @dependiente.ApellidoPaterno @dependiente.ApellidoMaterno</th>
                                        <th>@dependiente.FechaNacimiento</th>
                                        <th>@dependiente.EstadoCivil</th>
                                        <th>@dependiente.Genero</th>
                                        <th>@dependiente.Telefono</th>
                                        <th>@dependiente.RFC</th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            No existen registros.
        </div>
    }


</div>

